html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.tabs {
    height: 50px;
    width: auto;
}

.cursor-pointer {
    cursor: pointer;
}

ul#tabs {
	margin: 0;
	padding: 0;
}
ul#tabs li {
	width: 81px;
	display: inline-block;
	line-height: 30px;
	border: 1px solid #ddd;
	border-bottom: 0 none;
}
ul#tabs a.inactive {
	border-bottom: 1px solid #ddd;
	background: #eee;
	height: 29px;
}
ul#tabs li a {
	display: block;
	color: #666;
	text-decoration: none;
	display: block;
	padding: 0px 12px;
	white-space: nowrap;
}
ul#tabs li a:focus {
	outline: thin dotted;
	outline-offset: -2px;
}
ul#tabs li a:hover {
	background: #fff;
}
ul#tabs a.active {
	background: #fff;
	border-bottom: 0 none;
}

.tab-content {
	border: 1px #ddd solid;
	padding: 1px;
	margin: -1px 0 0 0;
}

